
#gameControls {
    width: 744px !important;
    height: 40px !important;
    border-style: solid;
    border-width: 2px;
    border-color: #CCC;  
    background-color: #EEE;
    margin: 0 0 10px 0;          
}

input, select {
    margin: 10px 0 10px 10px;  
}

#statusLabel {
    font-family: Georgia, sans-serif;
    font-size:  14px;
    color: #666;
    margin: 14px 0 0 0;
    float: right;
}

.container {
    float:left;
    width: 370px !important;
    border-style: solid;
    border-width: 2px;
    border-color: #CCC;
}

.activeContainer {
    border-width: 2px;
    border-color: #FF7F00;  
}

canvas {
    float: left;
}
