body {
    background-color: #ccc;
    /*background-image: url('https://dl.dropboxusercontent.com/content_link/ep1eE4sdW3UoVLow3gDbQzFOudRJqRIocA4aN2ca1k6dsM1gfn763wf1Z2rBcbLa');*/
    background-repeat: no-repeat;
    background-position: left top;
}

#gameControls {
    width: 744px !important;
    height: 40px !important;
    border-style: solid;
    border-width: 2px;
    border-color: #CCC;  
    background-color: #FEB2B2;
    margin: 0 0 10px 0;          
}

input, select {
    margin: 10px 0 10px 10px;  
}

#statusLabel {
    font-family: Georgia, sans-serif;
    font-size:  14px;
    color: #aa0000;
    margin: 14px 0 0 0;
    /*background-color: #FFF;*/
    float: right;
}

.container {
    float:left;
    width: 370px !important;
    border-style: solid;
    border-width: 2px;
    border-color: #CCC;
}

/*
.activeContainer {
    border-width: 2px;
    border-color: #FF7F00;  
}
*/

canvas {
    float: left;
}

.ui-widget {
  font-size: 1em;
}